.login-container{
    background: #004DA9;
    width:100%;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.login-components-right{
    position: absolute;
    width: 598px;
    height: 1062px;
    left: 0px;
    top: 0px;
}

.login-elemennts{
    object-fit:contain;
}

.header-login{
    /* WELCOME BACK! */
    position: absolute;
    width: 510px;
    height: 232px;
    left: 39px;
    top: 345px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 48px;
    line-height: 116px;
    text-align: center;
    color: #ffff;

}


.login-components-left{
    position: absolute;
}

.login-title{
  /* LOGIN */
  position: absolute;
  left: 200px;
  top: -430px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 77px;

    color: #FFFFFF;

}

.username-form{
    position:absolute;
    left: 180px;
    top: -350px;

}
.password-form{
    position:absolute;
    left: 90px;
    top: -153px;
}

.form--input{
    position:absolute;
    left: 210px;
    top: -230px;
}
